@media screen and (max-width:3000px){
    p{
        background-color: aqua;
        font-size:small;
    }
}
@media screen and (max-width:800px){
    p{
        background-color: green;
        font-size:medium;
    }
}
@media screen and (max-width:400px){
    p{
        background-color: yellow;
        font-size:x-large;
    }
}